#themes-list{data: { controller: 'themes' }}
  .grid
    - unless @themes.any?
      .oops
        there are no themes yet. How strange.
    - @themes.each do |theme|
      .theme
        = link_to([theme, theme.variants.first]) do
          %img{src: url_for(theme.preview), alt: "preview for #{theme.name}"}
          - if theme.variants.count > 1
            .multi= theme.variants.count
          .meta= theme.radical
.pagination
  = link_to "⟵ Previous page", @previous, { class: "button page prev" + (@page < 2 ? " disabled": "")}
  = link_to "Next page ⟶", @next, { class: "button page next" + (@next ? "" : " disabled") }
