.theme
  %section.name
    %h1.name= @theme.name
    %h2.description= @theme.description
    %span.cmd M-x package-install #{@theme.name}-theme
  %section.screenshot
    %img{src: url_for(@theme.screenshot)}
  %section.props
    %dl
      %dt.version Version
      %dd= @theme.version
      %dt.url URL
      %dd.link= link_to @theme.url
  = link_to 'Back', themes_path
