.theme{data: { controller: 'theme' }}
  %h1.title= @theme.name
  %h3.description= @theme.description
  %section.variants
    .gallery{data: { target: 'theme.gallery'}}
      - @theme.variants.each do |variant|
        - @modes.each do |mode, ext|
          - screenshot = variant.screenshots.find { |s| s.filename.to_s.end_with? "#{ext}.png" }
          %img{src: url_for(screenshot)}


  %section.props
    .controls
      %ul
        %li
          %label{for: "mode"}
            language
          %select#mode{data: { action: "change->theme#onLangChange"}}
            - @modes.each_with_index do |mode, index|
              %option= mode.first

        - unless @theme.variants.length < 2
          %li
            %label{for: "variant"}
              variant
            %select#variant
              - @theme.variants.each_with_index do |variant, index|
                %option= variant.name
  -# = link_to 'Back', themes_path, { class: 'back' }
