.theme{data: { controller: 'theme' }}
  %section.name
    %h1.name= @theme.name
    %h2.description= @theme.description
    %span.cmd M-x package-install #{@theme.name}-theme
  %section.screenshots
    .modes
      %ul{"data-target" => "theme.modes"}
        - @modes.each_with_index do |mode, index|
          - lang = mode.first
          %li{:class => index == 0 && "active"}
            %button{"data-action" => "click->theme#handleLangClick"}
              = lang
    .image_container{"data-target" => "theme.screenshots"}
      - @modes.each_with_index do |mode, index|
        - ext = "_#{mode.last}".downcase
        - screenshot = @theme.screenshots.find { |s| s.filename.to_s.include? ext }
        %img.screenshot{src: url_for(screenshot), :class => index == 0 && "active"}
      %h5 All sample files are edited to better highlight the theme properties. The original license and full source code can be found in the top comment.

  %section.props
    %dl
      -# %dt.authors Author(s)
      -# %dd= @theme.authors
      %dt.url URL
      - if @theme.url.present?
        %dd.link= link_to @theme.url, @theme.url
      - else
        %dd.link No URL available for this theme.
      %dt.version Version
      %dd= @theme.version
  = link_to 'Back', themes_path
