.theme
  %section.name
    %h1.name= @theme.name
    %span.cmd M-x package-install #{@theme.name}-theme
  %section.screenshot
    = image_tag @theme.screenshot
  %section.props
    %strong Version:
    = @theme.version
  = link_to 'Back', themes_path
