<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @theme.version %>
</p>

<p>
  <strong>Screenshot</strong>
  <%= image_tag @theme.name %>
<p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
