<div class="theme">
  <section class="name">
    <h1><%= @theme.name %></h1>
  </section>

  <section class="props">
      <p>
        <strong>Version:</strong>
        <%= @theme.version %>
      </p>
  </section>

  <section class="screenshots">
    <%= image_tag @theme.name %>
  </section>

  <%= link_to 'Edit', edit_theme_path(@theme) %> |
  <%= link_to 'Back', themes_path %>
</div>
