.theme
  %section.name
    %h1.name= @theme.name
    %h2.description= @theme.description
    %span.cmd M-x package-install #{@theme.name}-theme
  %section.screenshots
    .modes
      %ul
        %li.active
          %button Lisp
        %li
          %button Javascript
    .image_container
      - @theme.screenshots.each do |screenshot|
        %img.screenshot{src: url_for(screenshot)}
  %section.props
    %dl
      %dt.version Version
      %dd= @theme.version
      %dt.url URL
      - if @theme.url.present?
        %dd.link= link_to @theme.url, @theme.url
      - else
        %dd.link No URL available for this theme.
  = link_to 'Back', themes_path
