.theme{data: { controller: 'theme' }}
  %section.name
    %h1.name= @theme.name
    %h2.description= @theme.description
    %span.cmd M-x package-install #{@theme.name}-theme
  %section.screenshots
    .modes
      %ul{"data-target" => "theme.modes"}
        - ["Lisp", "Javascript"].each_with_index do |lang, index|
          %li{:class => index == 0 && "active"}
            %button{"data-action" => "click->theme#handleLangClick"}
              = lang
    .image_container{"data-target" => "theme.screenshots"}
      - @theme.screenshots.each_with_index do |screenshot, index|
        %img.screenshot{src: url_for(screenshot), :class => index == 0 && "active"}
  %section.props
    %dl
      %dt.version Version
      %dd= @theme.version
      %dt.url URL
      - if @theme.url.present?
        %dd.link= link_to @theme.url, @theme.url
      - else
        %dd.link No URL available for this theme.
  = link_to 'Back', themes_path
