!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      PeachMelpa &vert;
      = @title
    %meta{name: "description", content: "PeachMelpa is a collection of themes for GNU Emacs, retrieved from MELPA.org. Automatically refreshed on an hourly basis so can put a touch of colour on the most powerful editor in the world. "}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://www.googletagmanager.com/gtag/js?id=UA-119680842-1", async: true}
    %script
      window['ga-disable-UA-119680842-1'] = #{not Rails.env.production?};
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119680842-1');
    = favicon_link_tag asset_path("logo.png")
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    .header
      %h1 Peach Melpa 🍑
      %h2
        - if @title.present?
          =@title
        - else
          An automated preview of all Emacs themes available on <a href="https://melpa.org">Melpa</a>.

    = yield
    = javascript_pack_tag 'application'
