!!!
%html{ lang: "en-GB" }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title
    %meta{name: "description", content: @description}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'tailwind', media: 'all'

    - if Rails.env.production?
      %script{src: "https://www.googletagmanager.com/gtag/js?id=UA-119680842-1", async: true}
      %script
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119680842-1');

    = favicon_link_tag asset_path("logo.png")
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body.p-4.bg-gray-200
    = render 'flash'
    .container.text-xl.flex.flex-row.space-x-3.mb-2
      %h1.font-bold= link_to 'Peach Melpa', root_path
      .logo.h-8.w-8= image_tag 'logo.png', { alt: "PeachMelpa logo" }
    %h2.text-lg.my-3= @header
    .main
      = yield
