!!!
%html{ lang: "en-GB" }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title
    %meta{name: "description", content: @description}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://www.googletagmanager.com/gtag/js?id=UA-119680842-1", async: true}
    %script
      window['ga-disable-UA-119680842-1'] = #{not Rails.env.production?};
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119680842-1');
    = favicon_link_tag asset_path("logo.png")
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    .header
      %h1= link_to 'Peach Melpa', root_path, { class: 'link' }
      .logo= image_tag 'logo.png', { alt: "PeachMelpa logo" }
      %h2= @title
    .main
      = yield
